<html>
<head>
	<meta charset="utf-8">
	<title>Szwagier Mikrus Server</title>
</head>
<body>
	<h1>Szwagier Mikrus Server</h1>
	<br />
	<a href="tasks" id="id_tasks_home">Zadania</a>
	<br />
	<hr>
	<br />
	<a>Kolacje fajne<br />
	<ul>
	<li>Jajecznica z kielbasa</li>
	<li>Salatka z seria wiejskiego z szynka pomidorem i jajkiem</li>
	<li>Guacamole z papryka i z chlebem</li>
	<li>Omlet wytrawny</li>
	<li>Salatka z kurczakiem (na 2 dni)</li>
	<li>Ryz z zielonym groszkiem</li>
	<li>Salatka z makaronem pomidorami mozarella i papryka</li>
	<li>Ziemniaki z zsiadlym mlekiem (chyba jeszcze za wczesnie i za malo slonecznie na dworze)</li>
	<li>Kasza gryczana z suszonymi pomidorami (na 2 dni)</li>
	<li>Mix warzyw + kuskus (na 2 dni)</li>
	<li>Kanapki z szynka i jajkiem na twardo</li>
	<li>Makaron ze szparagami i serem plesniowym (na 2 dni)</li>
	<li>Lekka salatka z kalarepka (na 3 dni)</li>
	</ul>
	</a>
</body>
</html>
